{sub_dirs, ["rel"]}.
{erl_opts, [debug_info]}.
{deps, [
	{eleveldb, "1.0.1", {git, "git://github.com/basho/eleveldb.git", "HEAD"}},
	{sext, "0.4", {git, "git://github.com/esl/sext", "HEAD"}},
	{webmachine, "1.9.0", {git, "git://github.com/basho/webmachine", "HEAD"}},
	{edate, "0.1", {git, "git://github.com/dweldon/edate.git", "HEAD"}}
]}.