{sys, [
       {lib_dirs, ["../deps/","../.."]},
       {rel, "rakna-node", "1",
        [
         kernel,
         stdlib,
         sasl,
				 appmon,
         mochiweb,
         webmachine,
         eleveldb,
         sext,
         rakna
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "rakna-node"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, eleveldb, [{incl_cond, include}]},
       {app, sext, [{incl_cond, include}]},
       {app, rakna, [{incl_cond, include}]}
      ]}.

{target_dir, "rakna-node"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/rakna-node", "bin/rakna-node"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.
